

<div class="container">



  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-6 h1 todays-word">
      {{todaysWord.word}}
    </div>
    <div class="col-sm">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-6 h6 header-text">
      Definition:
    </div>
    <div class="col-sm">

    </div>
  </div>

  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-6 h4">
      {{todaysWord.definition}}
    </div>
    <div class="col-sm">

    </div>
  </div>
  <br>
  <br>

  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-6 usage-text">

      <blockquote>
        <p class="quote">{{  todaysWord.usage }}</p>
        <br />
      </blockquote>

    </div>
    <div class="col-sm">

    </div>
  </div>
</div>
