.header-text {
  color: #a9a9a9 !important;
  font-variant: small-caps !important;
}

.todays-word {
  font-size: 60px ;
}
@media screen and (max-width: 400px){
    .todays-word {
      font-size: 50px;
    }
  }






.usage-text blockquote {
  color: #444 !important;
  background-color: white !important;
  border: 0 !important;
  margin: 0px 10px 0px 0px !important;
  width: 75% !important;
}

.usage-text blockquote p {
  margin: 30px 30px 0px 50px !important;
  color: #444 !important;
  background-color: White !important;
}
.usage-text blockquote p.quote {
  font-style: italic !important;
  font-size: 1.2em !important;
}

.usage-text blockquote::before {
  content: "\201c" !important;
  color: #ff3b3f !important;
  position: absolute !important;
  font-size: 5em !important;
  font-family: serif !important;
  margin: -1rem 0 0 0 !important;
}

.usage-text blockquote p.quote::after {
  content: "\201d" !important;
  font-family: serif !important;
  padding-bottom: 20px !important;
}

.btn {
  margin-top: 10px;
  margin-right: 10px;
}

br.responsive {
  display: inline;
}

@media (max-width: 400px) {
  br.responsive {
    display: none;
  }
}



html,
body {
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  overflow-x: hidden !important;
}
