<nav class="navbar navbar-expand-sm navbar-toggleable-md navbar-fixed-top">
  <a class="navbar-brand" href="/">
    <img
      src="assets/word-a-day-logo.png"
      class="d-inline-block align-top"
      alt="Word A Day logo"
     height="33"
    />
    <span class="word-a-day-nav-logo-text"> Word A Day </span>
  </a>
  <div class="collapse navbar-collapse ms-auto" id="navbarText">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
      </li>
    </ul>


  </div>
  <span class="navbar-text navbar-date">
    {{ todaysDate |  date:'fullDate' }}  &nbsp;
  </span>

 </nav>
<router-outlet></router-outlet>
