/* You can add global styles to this file, and also import other style files */
.navbar {
  background-color:  #EFEFEF !important;
}


span
{
  white-space: pre;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
  background-color: WHITE!important;


}
